/*css reset*/
*{
    margin: 0;
    padding: 0;
}

/*css variables*/
:root{
    --navbar-height:49px;
}



/*Navigation bar:Logo and image:List styling*/
#logo{
margin: 10px 34px;
}
#logo img{
height: 56px;
margin: 3px 6px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar ul{
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#navbar::before{
   content: "";
   background-color:black;
   position: absolute;
   top: 0px;
   left: 0px;
   height:100%;
   width: 100%;
   z-index: -1;
   opacity: 0.3;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 15px;
    border-radius: 18px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 373px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(Static/Img/bg6.png.jpg) no-repeat center center/cover;
    position: absolute;
    height:479px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'cursive';
}
/*Service section*/

#services{
    margin: 28px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    padding: 18px;
    margin: 25px 6px;
    border-radius: 20px;
    background: #f8e4e4;
}
#services .box img{
      height: 100px;
      margin: auto;
      display: block;
}
#services .box p{
    font-family: 'cursive';
}
/*partners*/
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-section{
    height: 244px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(Static/Img/bg7.png.jpg) ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
#clients img{
    height:90px;
}
.client-item{
    padding: 15px;
}
/*Contact Section*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(Static/Img/bg9.png.png)no-repeat center center/cover;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.3rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
}
#contact-box form{
    width: 35%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'cursive';
}
footer{
    background: black;
    color: white;
    padding: 9px 18px;
}


/*utility class*/
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
font-family: 'cursive';}
    
.h-secondary{
    font-size: 2.1rem;
    padding: 12px;
font-family: 'Courier New', Courier, monospace;
}
.btn{
    padding: 6px 18px;
    border: 2px solid white;
    background-color: rgb(252, 10, 10);
    color: white;
    margin: 15px;
    font-size: 1.3rem;
    border-radius:9px ;
    cursor: pointer;
}
.center{
    text-align: center;
}